* {
  margin: 0;
}

.app {
  background-color: rgb(239, 239, 239);
  height: auto;
  /* padding-left: 300px;
  padding-right: 300px; */
}
.app__header {
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
  object-fit: contain;
}

.app__headerImage {
  
  background-color: white;
  padding: 20px;
}